body {
    padding-top:30px;
}

button[disabled], .btn.disabled, .btn[disabled] {
    cursor: pointer;
}

.test-containers {
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 100%;
}

.stats-header {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #62a8e1;
}

.title-header {
    font-size: 45px;
}

.texts {
    font-size: 30px;
    letter-spacing: 2px;
}

.units {
    font-size: 15px;
} 

.stat-td {
    padding: 20px !important;
}

.table-custom {
    margin-bottom: 40px;
}

.texts-best {
    font-size: 20px;
    letter-spacing: 1px;
}

#test-space {
    padding-top: 50px;
    background: #00d2ff; 
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #928DAB, #00d2ff); 
}

#scores {
   font-size: 25px; 
}

#typingPanel {
    padding: 30px;
    font-size: 38px;
    border-bottom: solid white 3px;
    margin-bottom: 50px;
}

#stats-table th {
    padding: 20px;
}

#text-wrapper {
    padding-bottom: 30px;
}

#user-input-wrapper {
    min-height: 75px;
    padding-top: 15px;
}

#user-input-bordering {
   border-bottom: solid grey 3px; 
}

#stats-table thead {
    background: #b2dfee;  /* fallback for old browsers */
}

#users-table thead {
    background: #b2dfee;  /* fallback for old browsers */ 
}

#final-grade {
    color: crimson;
}

#scores, #feedback {
    display: none;
}
