body {
    padding-top:30px;
}

button[disabled], .btn.disabled, .btn[disabled] {
    cursor: pointer;
}

.test-containers {
    font-family: Georgia, Times, "Times New Roman", serif;
    width: 100%;
}

.stats-header {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #62a8e1;
}

.about-header {
    border-left: #62a8e1 solid 5px;
    margin-bottom: 30px;
    color: #62a8e1;
    padding-left: 20px;
}

.about-paragraph {
    padding-left: 20px;
    text-indent: 20px;
    font-family: 'Inder', sans-serif; line-height: 24px; margin-bottom: 15px; color: #666;
}

.title-header {
    text-shadow: 1px 1px 1px white;
    font-size: 45px;
}

.texts {
    font-size: 30px;
    letter-spacing: 2px;
}

.units {
    font-size: 15px;
} 

.stat-td {
    padding: 20px !important;
}

.table-custom {
    font-size: 15px;
    margin-bottom: 40px; 
    display: table;
    width: 100%;
}

.table-custom thead, .table-custom tbody {
    float: left;
    width: 100%;
}

.table-custom tbody {
    overflow: auto;
    height: 380px;
}

.table-custom tr {
    width: 100%;
    display: table;
}

.table-custom td:first-child {
    width: 20%;
}
.table-custom td {
    width: 35%;
}

.texts-best {
    color: #2f2d2d;
    font-size: 20px;
    font-style: italic;
}

.graph {
    margin-bottom: 40px;
}

.articles-wrapper {
    margin-top: 50px;
}

.poster-img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 20px;
}

.database-item {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid #b2dfee 10px;
}

.texts-author {
    color: #2f2d2d;
    margin-bottom: 40px;
}

.label-custom {
    font-weight: normal !important;
}

.modal-header-custom {
    color: green;
}

.infoIcon-wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
}

#about-toper {
    width: 100%;
    background-color: #b2dfee;
}

#test-space {
    padding-top: 50px;
    background: #00d2ff; 
    background: linear-gradient(135deg, #928DAB 0%, #00d2ff 100%); 
}

#scores {
   font-size: 25px; 
}

#typingPanel {
    padding: 30px;
    font-size: 38px;
    border-bottom: solid white 3px;
    margin-bottom: 50px;
}

#stats-table th {
    padding: 20px;
}

#text-wrapper {
    padding-bottom: 30px;
}

#user-input-wrapper {
    min-height: 75px;
    padding-top: 15px;
}

#user-input-bordering {
   border-bottom: solid grey 3px; 
}

#stats-table thead {
    background: #b2dfee;  /* fallback for old browsers */
}

#users-table thead {
    background: #b2dfee;  /* fallback for old browsers */ 
}

#final-grade {
    color: crimson;
}

#scores, #feedback {
    display: none;
}

#nickname-modal {
    font-size: 18px;
    font-weight: normal !important;
}

#ajax-success-alert {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgrey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
