<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-default navbar-static-top navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header col-md-1 col-xs-2 nav-element">
            <a class="navbar-brand" th:href="@{'/'}">Home</a>
        </div>
        <ul class="nav navbar-nav col-md-1 col-xs-4 nav-element">
            <li><a th:href="@{'/database'}">Rank</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right col-md-1 col-xs-2 col-xs-offset-4 nav-element pull-right">
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid test-containers" id="test-space">

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="scripts.js" class="texts"></script>
</body>
</html>