<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>
    <link rel="icon" href="icons/mainIcon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-default  navbar-static-top navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">TYPING TEST</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a th:href="@{'/'}">Home</a></li>
            <li><a th:href="@{'/database'}">Database</a></li>
            <li class="active"><a th:href="@{'/about'}">About</a></li>
        </ul>
    </div>
</nav>
<div class="container container-fluid" id="about-space">
    <div class="row articles-wrapper">
        <div class="row text-centr infoIcon-wrapper"><img class="img-responsive  center-block" src="icons/infoIcon.png" height="90" width="90" alt="keyboard"></div>
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h3 class="about-header">HOW TO IMPROVE</h3>
               <p class="about-paragraph">Take a deep breath, relax your fingers and take it slow. You need to be focused and not annoyed when attempting the typing speed test. The best thing you can do to start typing faster is to type more. The more practice you will get under your belt, the faster your typing-fu will be. It’s all about developing muscle memory. Just make sure you are reinforcing the good habits and not ones that will leave your fingers hurting after an intense typing session.
               </p> 
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h3 class="about-header">FINGER LAYOUT</h3>
               <p class="about-paragraph">The one that is the most comfortable. The more you type the faster you will get. And to type a lot, you can’t feel uncomfortable. The small bumps on the F and J keys will help your fingers locate the correct position without looking. This setup should give you full range of motion. There are a few alternative layouts that propose a more ergonomic approach to typing. You could also take the big leap and try out the Dvorak keyboard but that’s a whole other story.
               </p> 
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h3 class="about-header">HISTORY OF QWERT</h3>
               <p class="about-paragraph">The QWERTY keyboard was designed in 1868 by Christopher – the man who invented the first successful typewriter. The order of the keys was decided by listing the most common letter combinations and making sure they are not placed next to each other. This was done to avoid jamming problems that often happened when two neighbouring keys were pressed one after another. The QWERTY keyboard is used to this day and is the most widely spread keyboard type out there.
               </p> 
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h3 class="about-header">WPM TYPING TEST</h3>
               <p class="about-paragraph">What is WPM typing test? There are different types of testing. This one is a typing test, where the typing skills are expressed in words per minute. The more you practice typing and the more you test typing speed, the higher the WPM score will be. Some online typing tests and typing test games focus only on WPM typing. The disadvantage of WPM typing test is learning only how to type fast. WPM typing tests do not tell anything on accuracy.
               </p> 
        </div>

        <div class="clearfix visible-lg"></div>
        
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h3 class="about-header">AVERAGE TYPING SPEED</h3>
               <p class="about-paragraph">An average professional typist types usually in speed of 45 to 65 WPM. More advanced positions require 65 to 95 (usually the minimum required for dispatch positions and other time-sensitive typing jobs). There are also some advanced typists work that requires speeds above 120 WPM.
               </p> 
        </div>

        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-3 col-xs-offset-3 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <h3 class="about-header">WHAT’S THE KEY</h3>
               <p class="about-paragraph">Practice typing as much as you can. Type a lot, type tests, practice typing tests. Improve your words per minute typing results and often test your typing speed. Our typing speed test will keep track of all typing tests that you’ve taken in the past, so you will be able to see the improvements over time. You will be able to see how your speed typing has changed. If you can do a 5 minute typing test every day, your typing speed will increase dramatically!
               </p> 
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="scripts.js" class="texts"></script>
</body>
</html>
