<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="icons/mainIcon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar navbar-default  navbar-static-top navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">TYPING TEST</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a th:href="@{'/'}">Home</a></li>
            <li class="active"><a th:href="@{'/database'}">Database</a></li>
            <li><a th:href="@{'/about'}">About</a></li>
        </ul>
    </div>
</nav>
<div class="container">
        <h1 class="text-center stats-header">Best scores</h1>
        <div class="alert alert-success" role="alert" th:if="${added} == true">
            <strong>Well done!</strong> Your score is good enough to be added to database!
        </div>
        <div class="alert alert-danger" role="alert" th:if="${added} == false">
            <strong>Oh snap!</strong> Your score is too low to be added to database. Try again!
        </div>

        <div th:if="${textList}">
            <div th:each="text: ${textList}" class="database-item">
                <div class="col-md-7">
                    <p class="texts-best" th:text="${text.getKey().getText()}"></p>
                    <p class="blog-post-meta texts-author" th:text="${text.getKey().getAuthor()}"></p>
                    <div id="posters">
                        <img th:src="@{|/posters/${text.getKey().getId()}.jpg|}" height="260" width="200" class="poster-img"/>
                    </div>
                </div>
                <div class="col-md-5">
                    <table class="table table-hover table-custom" id="users-table" th:if="${text.getValue()}" >
                        <thead>
                        <tr><th>Rank</th><th>User name</th><th>Score (CPM)</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="score, iter : ${text.getValue()}">
                            <td th:text="${iter.index + 1}"></td>
                            <td th:text="${score.getKey().getName()}"></td>
                            <td th:text="${score.getValue()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" id="separator"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>